.Container {
    margin: 100px 500px;

}

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 32px;
    margin-top: 5em;
}
    
.div1 { 
    grid-area: 1 / 1 / 7 / 4;
    background-color: chocolate;
    
}
.div2 { 
    grid-area: 3 / 4 / 7 / 13;
}
.div3 { 
    grid-area: 1 / 4 / 3 / 13; 
    background-color: brown;
}